.LikePost {
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .icon {
        color: red;
      width: 22px;
      height: 22px;
    }
    .iconReg {
      width: 22px;
      height: 22px;
    }
  }
}
