.LikePost {
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .icon {
      color: red;
      width: 22px;
      height: 22px;
    }
    .iconReg {
      width: 22px;
      height: 22px;
    }
  }
  @media (max-width: 800px) {
    .content {
      .icon {
        width: 32px;
        height: 32px;
      }
      .iconReg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
